.main{
    width: 400px;
    height: 300px;
    border: 1px solid white;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.input{
    padding: 10px;
    margin: 5px;
    
}